* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vh;
}
.hero,
.main-body,
.quote-section,
.cta-container,
footer,
header {
  padding: 0px 240px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.left-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 2rem;
}
.hero-description {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.hero-image {
  color: white;
}
.hero-main,
.hero-secondary {
  margin: 0;
}

.header-sign-up {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border-color: none;
  border: none;
  width: 6rem;
  height: 2rem;
}
.information-header {
  text-align: center;
}

.image-and-text-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.image-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 150px;
  gap: 8px;
}
.information-image {
  border: #3882f6;
  border-style: ridge;
  border-radius: 20px;
  width: 100%;
  height: 150px;
}
.subtext {
  margin: 0;
  padding: 0;
}
.main-body {
  padding-bottom: 2rem;
}

header,
.hero,
footer {
  background-color: #1f2937;
}
#logo,
.header-link {
  text-decoration: none;
}
#logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link,
.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}
.hero-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.information-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
.quote-section {
  background-color: #e5e7eb;
}
.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}
.quote-credit {
  font-weight: bold;
}

.cta-container,
.sign-up {
  background-color: #3882f6;
}

.cta-head,
.cta-description {
  color: white;
}

.cta-description {
  font-size: 14px;
}

.sign-up {
  border-color: white;
}
